<!-- transfer.html -->
<!DOCTYPE html>
<html>
<head>
    <meta name="csrf-token" content="{% csrf_token %}">
    <title>Image Style Transfer</title>
    <link rel="stylesheet" type="text/css" href="../static/css/transfer.css">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ImageStyleTransfer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-container container mt-5">
        <div class="row">
            <div class="col-md-4 left-section">
                <form id="upload-form" enctype="multipart/form-data" method="post" action="{% url 'save' %}">
                    {% csrf_token %}
                    
                    <div class="input-image-container d-flex justify-content-center align-items-center" onclick="document.getElementById('image-input').click()">
                        <img src="{{ uploaded_file_url }}" alt="Input Image" id="input-image" style="display: none;">
                        <p id="upload-prompt" class="text-secondary">点击此处上传</p>
                    </div>
                    <div class="form-group">
                        <label for="style-select">选择风格迁移类型:</label>
                        <select class="form-control" id="style-select" name="style-select">
                            <option value="retro">怀旧风</option>
                            <option value="pixel">像素风</option>
                            <option value="sketch">素描风</option>
                        </select>
                    </div>
                    <input type="file" id="image-input" name="image-input" accept="image/jpeg, image/png, image/jpg" style="display: none;">
                    <button type="submit" class="btn btn-primary upload-button">Upload and Process</button>
                </form>
            </div>
            <div class="col-md-4 middle-section">
                <div class="arrow text-center">
                    <img src="../static/imgs/start.png" alt="Start Image" />
                </div>
            </div>
            <div class="col-md-4 right-section">
                <div class="output-image-container">
                    <img src="" alt="Output Image" id="output-image" style="display: none;">
                </div>
                <button class="btn btn-secondary download-button">Download</button>
            </div>
        </div>
    </div>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/transfer.js"></script>
</body>
</html>