/* index.css */
body {
    background-color: #a199484f !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.navbar h1 {
    margin: 0;
}

.container {
    max-width: 100%;
    max-height: 80vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-img {
    max-width: 100%;
    max-height: 100%;
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.upload-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.upload-button {
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
    transform: translateY(0); 
}

.upload-button:hover {
    transform: translateY(-10px); 
}

/* 增加浮现动画 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.background-img, .upload-button {
    animation: fadeIn 1s ease-in-out forwards; 
}