body {
    background-color: darkblue;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* 使 body 占满整个视口高度 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed; /* 导航栏固定在顶部 */
    width: 100%;
    z-index: 1000; /* 确保导航栏在最上层 */
    top: 0; /* 固定在顶部 */
    left: 0; /* 固定在左侧 */
}

.navbar h1 {
    margin: 0;
}

.container {
    position: relative;
    max-width: 100%;
    max-height: 80vh;
    margin-top: 60px; /* 留出导航栏的高度 */
}

.background-img {
    max-width: 100%;
    max-height: 100%;
}

.upload-form {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%); /* 将按钮移动到图片下方 */
}

.upload-button {
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}