/* transfer.css */
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.navbar:hover {
    background-color: #555;
}

.main-container {
    max-width: 1200px;
    margin-top: 60px; /* 顶部距离 */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section, .middle-section, .right-section {
    flex: 1;
    text-align: center;
    padding: 20px; /* 内边距 */
    width: 100%; /* 使每个部分占据整个宽度 */
}

.input-image-container, .output-image-container {
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 20px 0; /* 上下边距 */
    padding: 20px; /* 内边距 */
    min-width: 300px; /* 最小宽度 */
    min-height: 300px; /* 最小高度 */
}

.input-image-container img, .output-image-container img {
    max-width: 100%;
    max-height: 100%;
}

/* transfer.css */
.middle-section .arrow {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 使箭头容器高度占满整个中间区域 */
    width: 100%; /* 使箭头容器宽度占满整个中间区域 */
    margin-left: 40px;
}

.middle-section .arrow img {
    width: 100px; /* 图片宽度 */
    height: auto; /* 图片高度自适应 */
}

#upload-prompt {
    display: block;
    margin-top: 10px;
}